/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/mulish-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mulish-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mulish-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mulish-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mulish-v5-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
  }
  /* mulish-300 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mulish-v5-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/mulish-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mulish-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mulish-v5-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mulish-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mulish-v5-latin-300.svg#Mulish') format('svg'); /* Legacy iOS */
  }
  /* mulish-600 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mulish-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/mulish-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mulish-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mulish-v5-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mulish-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mulish-v5-latin-600.svg#Mulish') format('svg'); /* Legacy iOS */
  }
  /* mulish-700 - latin */
  @font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/mulish-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mulish-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mulish-v5-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mulish-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mulish-v5-latin-700.svg#Mulish') format('svg'); /* Legacy iOS */
  }

*{
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "mulish", sans-serif;
}

.container {
    width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}

img{
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.hero-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 82px;
}

.hero-nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: -20px;
}

.hero-nav-item{
    margin: 20px;
}

.hero-nav-link{
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    color: rgb(34, 23, 58, 0.5);
}

.hero-nav-link-home{
    font-weight: bold;
    text-decoration: none;
    color: rgb(34, 23, 58);
}
/* ---------------------hero------------------------------ */

/* ---------------------hero-bottom------------------------ */
.hero-bottom{
    margin-bottom: 160px;
}

.virtual-healthcare{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    height: 338px;
}

h1{
    font-size: 48px;
}

.hero-bottom-p{
    font-weight: 300;
    font-size: 21px;
    color: #7D7987;
    box-sizing: border-box;
}

.hero-bottom-button{
    width: 200px;
    height: 60px;
    background-color: #458FF6;
    border-radius: 55px;
}

.hero-bottom-button p{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
/* ------------------------------our services------------------------------------------- */
/* -------our services-top------------- */
.services{
    margin-bottom: 100px;
}

.services-top{
    margin: 90px;
}

.services-top-h2{
    font-weight: bold;
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

.services-top-h2-line{
    border-bottom: 1px solid #000;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.services-top-p{
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #7D7987;
}

/* ---------services-bottom--------------- */

.services-bottom{
    width: 1092px;
    height: 755px;
    margin: 0 auto 75px;
}

.services-bottom-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: -18px;
}

.services-bottom-item{
    list-style: none;
    width: 340px;
    height: 344px;
    border: 1px solid rgba(243, 234, 234, 0.918);
    border-radius: 20px;
    padding: 50px 38px;
    margin: 18px;
}

.services-bottom-item h3{
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin: 22px 0;
}

.services-bottom-item p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.services-button, .article-button-p{
    text-align: center;
}

.services-button-p a, .healthcare-button-p a, .download-button-p a, .article-button-p a{
    display: inline-block;
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1px solid #458FF6;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    text-decoration: none;
    text-align: center;
}

/* -----------------------healthcare------------------------- */
.healthcare{
    margin: 200px 0;
}
.leading-healthcare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.healthcare-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 487px;
    height: 388px;
    margin: 60px 0 0 76px;
}

.healthcare-right h2, .download-left h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000;
}

.healthcare-right .healthcare-right-p, .download-left p{
    font-weight: 300;
    font-size: 18px;
    color: #7D7987;
    margin-top: 40px;
    line-height: 30px;
}

.healthcare-button{
    margin-top: 40px;
}
/* -------------------download---------------- */
.download-app{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.download-left{
    width: 487px;
    height: 388px;
}

/* ---------------------customer------------------- */


.our-customer{
    background-color: #5A98F2;
    border-radius: 24px;
    padding: 80px 150px 110px;
    margin-top: 200px;
}

.customer-title{
    text-align: center;
    margin-bottom: 76px;
}

.customer-title h2{
    font-weight: bold;
    line-height: 36px;
    font-size: 36px;
    color: #FFFFFF;
}

.customer-line{
    color: #fff;
}

.customer-say{
    display: flex;
    justify-content: space-between;
}

.customer-foto{
    margin-right: 22px;
}

.about-costumer{
    display: flex;
    align-items: center;
}

.customer-name{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.customer-name-p{
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    margin: 16px 0 16px;
}

.customer-info{
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

/* ---------------------------article----------------------------- */

/* .article-container{
    width: 960px;
} */

.article-title{
    text-align: center;
    margin: 250px 0 70px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.article-body{
    margin: 0 auto 115px;
    width: 1120px;
    padding: 0;
}

.article-body-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-body-list-item{
    border: 1px solid rgb(236, 232, 232);
    border-radius: 24px;
    width: 350px;
}

.article-body-list-item h3{
    font-weight: bold;
    font-size: 21px;
    color: #000;
    margin: 27px 0 27px 30px;
}

.article-body-list-item p{
    font-weight: 300;
    font-size: 16px;
    color: #7D7987;
    margin: 0 0 36px 30px;
}

.article-body-list-item p a{
    font-weight: 600;
    font-size: 17px;
    color: #4089ED;
    text-decoration: none;
}

/* -----------------------footer------------------------------------- */
footer{
    background-color: #67C3F3;
    margin-top: 280px;
    height: 432px;
}

.footer-container{
    padding-top: 100px;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;

}

.footer-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    list-style: none;
    color: #fff;
}

.footer-list-item h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
}

.footer-list-item p{
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
}

.footer-list-item-info{
    line-height: 28px;
    margin: 10px 0 20px;
}

.footer-list-item p a{
    text-decoration: none;
    color: #fff;
}
